/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

&led_strip {
    chain-length = <31>;// Uncomment if using both per-key and underglow LEDs
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&kp EQUAL               &kp Q           &kp W           &kp F                 &kp P    &kp G                                                                  &kp J                  &kp L            &kp U           &kp Y             &kp SEMI    &kp BSLH
  &kp TAB  &mt LEFT_CONTROL A  &mt LEFT_ALT R  &mt LEFT_GUI S      &mt LEFT_SHIFT T    &kp D                                                                  &kp H      &mt RIGHT_SHIFT N  &mt RIGHT_GUI E  &mt LEFT_ALT I  &mt RIGHT_CONTROL O     &kp SQT
  &kp ESC               &kp Z           &kp X           &kp C                 &kp V    &kp B      &sk LSHFT  &rgb_ug RGB_TOG  &rgb_ug RGB_TOG  &sk LSHFT      &kp K                  &kp M        &kp COMMA         &kp DOT             &kp FSLH  &caps_word
                                    &kp GRAVE                  &kp LEFT_PARENTHESIS  &kp DEL  &kp BACKSPACE            &sl 1            &sl 2  &kp SPACE  &kp ENTER  &kp RIGHT_PARENTHESIS                        &kp MINUS
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        numbers_edit_nav {
            bindings = <
&trans  &out 0  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
            >;
        };
    };
};
